# Initial Exploration

Time to explore some super keen Box Office data!  The original source of the data loaded below is from [Kaggle](https://www.kaggle.com/johnharshith/hollywood-theatrical-market-synopsis-1995-to-2021).

First, the initial imports...

In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
annual_sales = pd.read_csv("/Users/katt/code/box-office/data/AnnualTicketSales.csv")
highest_grossers = pd.read_csv("/Users/katt/code/box-office/data/HighestGrossers.csv")
pop_creative = pd.read_csv("/Users/katt/code/box-office/data/PopularCreativeTypes.csv")
top_distro = pd.read_csv("/Users/katt/code/box-office/data/TopDistributors.csv")
top_genre = pd.read_csv("/Users/katt/code/box-office/data/TopGenres.csv")
top_ratings = pd.read_csv("/Users/katt/code/box-office/data/TopGrossingRatings.csv")
top_sources = pd.read_csv("/Users/katt/code/box-office/data/TopGrossingSources.csv")
top_production = pd.read_csv("/Users/katt/code/box-office/data/TopProductionMethods.csv")
wide_release = pd.read_csv("/Users/katt/code/box-office/data/WideReleasesCount.csv")

In [13]:
highest_grossers.head()

,YEAR,MOVIE,GENRE,MPAA RATING,DISTRIBUTOR,TOTAL FOR YEAR,TOTAL IN 2019 DOLLARS,TICKETS SOLD
0,1995,Batman Forever,Drama,PG-13,Warner Bros.,"$184,031,112","$387,522,978","4,23,06,002"
1,1996,Independence Day,Adventure,PG-13,20th Century Fox,"$306,169,255","$634,504,608","6,92,69,062"
2,1997,Men in Black,Adventure,PG-13,Sony Pictures,"$250,650,052","$500,207,943","5,46,07,854"
3,1998,Titanic,Adventure,PG-13,Paramount Pictures,"$443,319,081","$865,842,808","9,45,24,324"
4,1999,Star Wars Ep. I: The Phantom Menace,Adventure,PG,20th Century Fox,"$430,443,350","$776,153,749","8,47,32,942"

In [15]:
top_distro

,RANK,DISTRIBUTORS,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1,Walt Disney,588,"$40,472,424,278","$68,830,654",17.02%
1,2,Warner Bros.,824,"$36,269,425,479","$44,016,293",15.25%
2,3,Sony Pictures,747,"$29,113,002,302","$38,973,229",12.24%
3,4,Universal,535,"$28,089,932,569","$52,504,547",11.81%
4,5,20th Century Fox,525,"$25,857,839,756","$49,253,028",10.88%
5,6,Paramount Pictures,493,"$24,361,425,304","$49,414,656",10.25%
6,7,Lionsgate,426,"$9,631,837,781","$22,609,948",4.05%
7,8,New Line,209,"$6,195,268,024","$29,642,431",2.61%
8,9,Dreamworks SKG,77,"$4,278,649,271","$55,566,874",1.80%
9,10,Miramax,385,"$3,836,019,208","$9,963,686",1.61%

In [26]:
top_ratings

   RANK MPAA RATINGS MOVIES       TOTAL GROSS AVERAGE GROSS MARKET SHARE
0     1        PG-13  3,243  $113,524,789,243   $35,006,102       47.75%
1     2            R  5,480   $63,497,164,978   $11,587,074       26.71%
2     3           PG  1,535   $49,124,317,794   $32,002,813       20.66%
3     4            G    395    $9,572,240,391   $24,233,520        4.03%
4     5    Not Rated  5,820    $1,918,358,283      $329,615        0.81%
5     6        NC-17     24       $44,850,139    $1,868,756        0.02%
6     7         Open      5        $5,489,687    $1,097,937        0.00%
7     8           GP      7          $552,618       $78,945        0.00%

In [36]:
top_sources.head()

,RANK,SOURCES,MOVIES,TOTAL GROSS,AVERAGE GROSS,MARKET SHARE
0,1,Original Screenplay,"7,946","$106,375,196,782","$13,387,264",44.74%
1,2,Based on Fiction Book/Short Story,"2,150","$47,005,613,207","$21,863,076",19.77%
2,3,Based on Comic/Graphic Novel,249,"$23,369,989,130","$93,855,378",9.83%
3,4,Remake,328,"$12,832,659,970","$39,123,963",5.40%
4,5,Based on Real Life Events,"3,225","$11,398,356,297","$3,534,374",4.79%

In [35]:
wide_release.head()

,YEAR,WARNER BROS,WALT DISNEY,20TH CENTURY FOX,PARAMOUNT PICTURES,SONY PICTURES,UNIVERSAL,TOTAL MAJOR 6,TOTAL OTHER STUDIOS,Unnamed: 9
0,2021,17,7,0,4,16,17,61,38,NaN
1,2020,5,3,1,3,9,13,34,23,NaN
2,2019,18,10,11,9,18,21,87,44,NaN
3,2018,19,10,11,10,16,20,86,58,NaN
4,2017,18,8,14,10,16,15,81,50,NaN

So, these are the most interesting data sets.  The others... honestly didn't say much besides some basic things (why yes, there are an awful lot of movies that are _live action_).

I'm going to look forward to possibly adding more into this data set, particularly how global sales affect total gross.  In the 90's, China wasn't a major market, and budgets were generally lower.  Since then, CGI has made tremendous blockbusters possible, which are more popular abroad.

First, let's explore this set, though.

#TODO: Start making some visualizations